@model urlshorten.Models.UrlViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>Confirm Address</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UrlHash" class="form-control" />      
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortAddress" class="control-label"></label>
                <input asp-for="ShortAddress" class="form-control" />
                <span asp-validation-for="ShortAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Cancel" class="btn btn-primary" onclick="history.go(-1); return false;" />
            </div>
        </form>
    </div>
</div>