@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <div class="card align-text-bottom">
        <h5 class="card-header">Url Shortener Policy</h5>
            <div class="card-body">
                <p class="card-text">Url's will be reviewed regularly by the administrative technical staff from the IT department. If you have any questions or suggestions feel free to email us!</p>
                <a href="#" class="btn btn-primary">Email IT</a>              
            </div>
    </div>
</div>
